<h1>New Character</h1>

<form action="/characters/create" method="post">
<div>
<label for="nameInput">Name:</label>
<input type="text" name="name" id="nameInput">
</div>
<div>
    <label for="occupationInput">Occupation:</label>
    <input type="text" name="occupation" id="occupationInput">
</div>
<div>
    <label for="weaponInput">Weapon</label>
    <input type="text" name="weapon" id="weaponInput">
</div>
<div>
    <label for="">Is a Cartoon</label>
    <input type="checkbox">
</div>
<button type="submit">CREATE</button>
</form>