<h1 class="title"> Delete your characters here!</h1>

<form action="/characters/{{character.id}}/delete" method="post" class="form">

  <div>
    <label for="IdInput">ID</label>
  </div>

  <div>
    <input type="text" name="id" id="IdInput" />
  </div>
<br>
  <button type="submit" class="button">Delete Character</button>
</form>