<h1>Edit Charater</h1>

<form action="/characters/:id/update" method="post">
  <div>
    <label for="nameInput">Name:</label>
    <input type="text" id="nameInput" />
  </div>
  <div>
    <label for="occupationInput">Occupation:</label>
    <input type="text" id="occupationInput" />
  </div>
  <div>
    <label for="weaponInput">Weapon:</label>
    <input type="text" id="weaponInput" />
  </div>
  <div>
    <label for="">Is a Cartoon:</label>
    <input type="checkbox" />
  </div>
  <button type="submit">UPDATE</button>
</form>